QFrame {
    background-color: #484848;
}

QLabel {
    color: #757575;
    font-size: 14pt;
    font-weight: bold;
}

QLineEdit {
    background-color: #757575;
    max-width: 500px;
    min-height: 20px;
    border-radius: 5px;
    color: white;
}

QPushButton {
    background-color: #1976d2; 
    max-width: 300px;
    min-height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 16pt;
    font-weight: bold;
}